/*
Aula 8 -------------
    ? Especificidade
        * É um cálculo matemático 
        * Seletores e origem do estilo possuem pesos diferentes
        
        * 0.     
            ! Universal selector ( * ) 
            ! Combinators 
            ! negation pseudo-class (:not())
        * 1.     
            ! Element type Selector 
            ! pseudo-elements (::before, ::after)
        * 10.    
            ! Classes 
            ! attribute selectors ([type="radio])
        * 100.   
            ! ID Selector ( id="email", #email )
        * 1000.  
            ! Inline ( ...style="color:red")
    
  
*/

/* Universal Selector */
*{
    color:blueviolet;
    font-weight: lighter;
}

/* Aula 9 --------------
    ? Regra Important
        * Toma a prioridade do CSS
            ! Má prática de programação
            ! Usar em ultimo caso
                * Usar quando não conseguir aplicar estilo por conta de libs externas      
*/
h1{
    color: purple !important;
}

/* ID Selector */
#paragrafo-meme{
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
/* Classe Selectors */
.paragrafos{
   color: lawngreen;
   font-weight: 100; 
   font-family:'Times New Roman', Times, serif;
}
div .paragrafos{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Seletor do tipo do Elemento (Element Type Selector */
p{
    color:aqua;
}


