/*
Aula 7 --------
    ? A cascata 
        * Influencia na escolha de regras de estilo que o navegador fará uso
        * Estilo lido de cima para baixo 
        * Serão levados 3 fatores em conta
            !1 Origem do estilo
            !2 Especificidade
            !3 Importância

    ? Origem do Estilo
        * inline > tag <style> > <link>
            ! Inline tem mais priodade que a tag style
            ! <style> que tem mais prioridade que a tag link

*/

h1{
    color: red;
}

/* Prioriza sempre o de baixo */
h1{
    color: blue;
}

p{
    color: brown;
}